$main-color: #FFA501;
$small-circle-color: #FFA501;
$vertical-line-color: #000000;
$text-color: #000000;
$title-color: #000000;
$subtitle-color: #000000;
$devider-color: #000000;
$hamburger-color: #151812;
$text-menu-color: #FFFFFF;
$progress-bar-color: #E8E4DE;
$progress-bar-fill-color: #FFA501;