.about {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 570px;
        grid-template-rows: minmax(250px, auto) minmax(255px, auto);
        grid-auto-rows: minmax(245px, auto);
        column-gap: 70px;
        row-gap: 40px;
    }
    &__photo {
        grid-row: 1 / 3 ;
        img {
            width: 100%;
        }
    }
    &__description {
        padding-top: 6px;
        .divider {
            margin: 0;
        }
    }
    &__title {
        position: relative;
        padding-left: 12px;
        color: $title-color;
        @include before_circle;
    }
    &__subtitle {
        color: $subtitle-color;
    }
    &__text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 21px;
        color: $text-color;
    }
    &__skills {
        display: grid;
        grid-template-columns: repeat(2, 260px);
        grid-template-rows: repeat(2, minmax(116px, auto));
        grid-auto-rows: minmax(116px, auto);
        gap: 20px 50px;
        &-item {
            display: grid;
            grid-template-columns:40px 200px;
            column-gap: 20px;
        }
        &-circle {
            position: relative;
            padding: 15px 0 0 15px;
            @include before_circle;
            &:before {
                top: 0;
            }
        }
        &-text {
            font-size: 12px;
            line-height: 18px;
            color: $text-color;
            margin-top: 6px;
        }
    }
}