.contacts {
    padding: 120px 0 90px 0;
    &__wrapper {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &__photo {
        img {
            width: 100%;
        }
    }
    &__descr {
        padding-top: 6px;
        .divider {
            margin: 0;
        }
    }
    &__title {
        position: relative;
        padding-left: 12px;
        color: $title-color;
        @include before_circle;
    }
    &__subtitle {
        color: $subtitle-color;
    }
    &__text, &__social {
        margin-top: 20px;
    }
    &__link {
        margin-right: 25px;
        img {
            max-width: 30px;
            max-height: 300px;
        }
    }
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: 45px 190px 45px;
        justify-content: space-between;
        row-gap: 28px;
        label {
            display: block;
            position: absolute;
            margin-bottom: 0;
            font-size: 12px;
            height: 18px;
            padding: 0 8px;
            top: -9px;
            left: 12px;
            background-color: #fff;
        }
    }
    &__input {
        position: relative;
        input {
            width: 100%;
            height: 100%;
            font-size: 12px;
            padding: 0 20px;
        }
    }
    &__textarea {
        position: relative;
       grid-column: 1 / 3;
       textarea {
            width: 100%;
            height: 100%;
            resize: none;
            padding: 20px;
       }
    }
    &__btn {
        padding: 12px 26px;
        border: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
    }
}