.skills {
    &__title {
        position: relative;
        padding-left: 12px;
        color: $title-color;
        top: 7px;
        @include before_circle;
        &:before {
            top: -7px;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(270px, auto));
        grid-template-rows: repeat(2, minmax(270px, auto));
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
        margin-top: 60px;
        margin-bottom: 120px;
    }
    &__items {
        width: 270px;
        min-height: 270px;
        border: 1px solid #000;
        padding: 30px 30px 25px 30px;
        &-descr {
            font-size: 12px;
            line-height: 18px;
        }
        h4 {
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }
    &__progress {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        grid-auto-rows: 70px;
        column-gap: 45px;
        row-gap: 30px;
        &-item {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 350px;
            height: 70px;
        }
        &-bar {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 14px;
            // margin-top: 25px;
            background: $progress-bar-color;
            border-radius: 4px;
            z-index: 1;
            &_fill {
                height: 100%;
                border-radius: 4px;
                background-color: $progress-bar-fill-color;
                z-index: 5;
            }
        }
    }
}