@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 400px auto auto;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .benefit {
        &__wrapper {
            grid-template-columns: 1fr;
            padding: 0;
        }
    }
    .skills {
        &__wrapper {
            justify-content: center;
            margin-bottom: 80px;
        }
        &__progress {
            grid-template-columns: repeat(2, 250px);
            column-gap: 30px;
        }
    }
    .price {
        margin-top: 40px;
        &__wrapper {
            margin-top: 20px;
        }
    }
}