@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            grid-template-columns: repeat(2,245px);
            column-gap: 30px;
            &-item {
                grid-template-columns: 40px 190px;
                column-gap: 15px;
            }
        }
    }
    .benefit {
        &__wrapper {
            grid-template-columns: repeat(2,360px);
            column-gap: 110px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
        &__progress {
            grid-template-columns: repeat(3,300px);
            column-gap: 30px;
        }
    }
    .portfolio {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            justify-content: space-around;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
}