@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__subtitle {
            font-size: 30px;
        }
        &__skills {
            grid-template-columns: 380px;
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
}