@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            line-height: 36px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__subtitle {
            font-size: 30px;
        }
        &__skills {
            grid-template-columns: 380px;
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .benefit {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-auto-rows: auto;
            column-gap: unset;
            row-gap: 40px;
        }
    }
    .skills {
        &__wrapper {
            justify-content: center;
        }
        &__progress {
            grid-template-columns: repeat(2, 335px);
            column-gap: 50px;
        }
    }
    .portfolio {
        &__wrapper {
            margin-top: 40px;
        }
    }
    .price {
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: space-around;
            row-gap: 25px;
        }
    }
}